---
// Redirect to Spanish by default
---
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/es/" />
    <script>window.location.replace('/es/');</script>
  </head>
  <body>
    <a href="/es/">Ir a la versión en español</a>
  </body>
</html>
